Pods/
*.lock
*.xcbkptlist
PirateRadio.xcodeproj/xcuserdata/a-teamuser.xcuserdatad/xcschemes/xcschememanagement.plist
PirateRadio.xcodeproj/xcuserdata/a-teamuser.xcuserdatad/xcschemes/xcschememanagement.plist
